.searchResults {
  height: auto;
  max-height: 69vh;
  border-radius: 4px;
  width: 100%;
  color: rgb(194, 196, 198);
  background-color: rgb(54, 57, 62) !important;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  overflow-wrap: break-word;
}

.panel-body {
  background-color: rgb(54, 57, 62);
}

.panel-title {
  background-color: rgb(54, 57, 62);
  color: rgb(194, 196, 198) !important;
}

.panel-heading {
  background-color: rgb(54, 57, 62);
}

.panel-group {
  background-color: rgb(54, 57, 62);
}

.panel {
  background-color: rgb(54, 57, 62);
}

.panel-default {
  background-color: rgb(54, 57, 62) !important;
}

.panel-default > .panel-heading {
  background-color: rgb(54, 57, 62) !important;
}

.nav-tabs > li > a {
  color: rgb(194, 196, 198) !important;
}

.nav-tabs > li.active > a {
  background-color: rgb(54, 57, 62) !important;
  color: rgb(194, 196, 198) !important;
}
