/* .auth-header {
  width: 100%;
  padding: 50px 0;
}
.auth-header .logo {
  width: 300px;
  display: block;
  margin: auto;
} */

.login-form-container,
.signup-form-container {
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  padding: 1%;
  /* position: relative; */
}

.auth-form {
  margin: auto;
  width: 100%;
  max-width: 400px;
}

.auth-link {
  margin-left: 5px;
}

.login-form {
  width: 100%;
}

.authButton {
  margin-top: 7px !important;
  /* font-weight: 600; */
  color: white;
  background-color: #333;
}

.authField {
  margin-bottom: 0px !important;
}

.loginSignup {
  font-family: "mission-gothic-light";
  font-weight: 1000;
  font-size: 2em;
  margin: 15% 27px;
}

.switchButton {
  /* text-align: left; */
  /* position: fixed; */
  /* left: 60%; */
  /* bottom: 1%; */
  margin-left: 35px;
  font-size: 0.9em;
  font-family: "mission-gothic-light";
  cursor: pointer;
}

.fontsPlease {
  font-family: "mission-gothic-light";
}
