.side-profile {
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
  font-weight: bold;
}

.profile-img {
  height: 100px;
  width: 100px;
}

.side-profile .bio {
  font-size: 15px;
}

.side-profile .add-friend {
  border-radius: 20px;
}
