.side-profile {
  color: rgb(194, 195, 197);
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
}

.profile-img {
  height: 100px;
  width: 100px;
}

.side-profile .bio {
  font-size: 15px;
}

.side-profile .add-friend {
  border-radius: 20px;
  border-color: rgb(115, 139, 215) !important;
  background-color: rgb(115, 139, 215) !important;
  color: white;
}

.userpane-row {
  color: rgb(174, 176, 178);
  padding: 4px 3px 4px 3px;
  cursor: pointer;
  border-radius: 10px;
  margin: 2px;
}

.userpane-row:hover {
  background-color: rgb(61, 77, 87) !important;
  color: white;
}

.userpane-row-online {
  color: limegreen;
  padding: 4px 3px 4px 3px;
  cursor: pointer;
  border-radius: 10px;
  margin: 2px;
}

.userpane-row-online:hover {
  background-color: rgb(61, 77, 87) !important;
}

.pending-message {
  color: rgb(115, 139, 215);
}

.userpane-status {
  color: rgb(174, 176, 178);
  padding-top: 20px;
  padding-left: 13px;
  font-size: 14px;
  padding-bottom: 5px;
}

.logo {
}
