.side-profile {
  color: rgb(194, 195, 197);
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
}

.profile-img {
  height: 100px;
  width: 100px;
}

.side-profile .bio {
  font-size: 15px;
}

.side-profile .add-friend {
  border-radius: 20px;
  border-color: rgb(115, 139, 215) !important;
  background-color: rgb(115, 139, 215) !important;
  color: white;
}

.userpane-row {
  color: rgb(174, 176, 178);
  padding-top: 10px;
  padding-left: 10px;
}

.pending-message {
  color: rgb(115, 139, 215);
}
