.datePicker {
  max-width: 75%;
  /* display: inline; */
}

.timePicker {
  max-width: 75%;
  /* display: inline; */
}

/* .floatRight {
  float: right;
} */

/* .testing {
  display: inline-block;
  position: absolute;
  right: 5%;
} */

.hover {
  cursor: help;
}
