.glyph {
  background-color: rgb(90, 105, 120);
  border: none;
}

.glyph:hover {
  background-color: rgb(70, 85, 100);
}

.glyph:active {
  background-color: transparent !important;
}

.glyph:focus {
  background-color: transparent !important;
}

.dropdown-menu {
  background-color: rgb(70, 85, 100);
}

.dropdown-toggle:focus {
  background-color: transparent !important;
}

a {
  color: white !important;
  background-color: transparent !important;
}
a:hover {
  background-color: transparent !important;
  color: rgb(90, 105, 120) !important;
}

.logo {
  width: 75px;
  height: 75px;
}

.nav-bar {
  background-color: rgb(90, 105, 120);
  border: none;
}
