.glyph {
  background-color: rgb(90,105,120);
  border: none
  
}

.glyph:hover {
  background-color: rgb(70,85,100);
}

.glyph:after {
  background-color: transparent;
}

.logo {
  width: 50px;
  height: 50px;
}