.wholeBet {
  padding: 40px;
  margin: 10px;
  border: solid black;
  border-radius: 5px;
}

#betInfo {
  overflow-wrap: break-word;
  white-space: nowrap;
}

#betButton {
  position: relative;
  float: right;
}

#myBet {
  /* color: black !important; */
}

#othersBet {
  /* color: blue !important; */
}
