.club-container {
  width: 100%;
  height: 92vh;
  overflow-y: scroll;
  overflow-x: visible;
}
.club-logo-wrapper {
  background-color: transparent !important;
}

.nav-image {
  width: 100%;
  min-height: 40px;
  height: 100%;
}

.nav-item > a:hover {
  width: 100%;
  background-color: transparent;
}

.nav-item > a {
  padding: 10px 5px !important;
}

.nav-pills > li > a:hover {
  color: #fff;
  opacity: 0.5;
}

.nav-pills > li > a {
  background-color: transparent !important;
  transition: transform 0.4s;
}

.nav-image:hover {
  transform: scale(1.2);
}

.drowdown-menu-item {
  padding: 8px;
}

.joinLeaveClubsPane {
  list-style-type: none;
}

.joinLeaveClubInd {
  position: relative;
  float: left;
}

.joinLeaveClubInd {
  position: relative;
  float: left;
  border-width: 0px 0px 5px 0px;
  border-color: white;
  height: 70px;
  width: 70px;
}

.joinLeaveClubInd-selected {
  position: relative;
  float: left;
  border-width: 0px 0px 5px 0px;
  border-style: solid;
  border-color: #738bd7;
  height: 70px;
  width: 70px;
}

.joinLeaveClubButton {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

::-webkit-scrollbar {
  display: none;
}

.mod-nav-image {
  width: 70px;
  height: 70px;
  padding: 10px;
}
