.container {
  /* hardcoded height  */
  height: 96.5vh;
}

.chat-background {
  background-color: #36393e;
  width: 100%;
  height: 70vh;
}

.chat-display {
  overflow-y: scroll;
  margin: 0;
  height: 100% !important;
  position: relative;
}
.message-input {
  width: 100%;
  background-color: #788796;
}

.time-stamp {
  color: white;
  text-align: right;
  font-weight: 500;
  padding: 0 7px 0 0;
}

.chat-main-container {
  width: 100%;
  height: 100%;
}

.chat-display .col {
  padding: 0px !important;
}

.chat-display a {
  text-decoration: none;
  font-weight: 700;
}

.chat-display a:hover {
  text-decoration: none;
}

.chat-display .row {
  height: auto !important;
  padding: 0 !important;
}

.chat-display .row:nth-child(odd) {
  background-color: #36393e;
  color: white;
}

.chat-display .row:nth-child(even) {
  background-color: #2f3136;
  color: white;
}

.chat-username a {
  color: white !important;
}

.col-lg-1 {
  width: 15% !important;
}

.col-lg-11 {
  width: 85% !important;
}

.message-username:hover {
  cursor: pointer;
}

.message-username {
  color: white !important;
}

.text-input-box {
  background-color: #36393e;
  color: #f0f0f0;
}
